
<br><h1>Welcome to datapond, the pond for your data </h1> <br>

<h4> What is datapond? </h4>
<p> As a trends researcher, I've noticed that knowledge sharing can be difficult across departments and geographies. </p>

<p> Because of this, a lot of time is spenting answer the same questions over and over again. </p>

<p>For example, we're pitching a possible new bank client. Instead of a consultant gathering trends and stats 
about the consumer banking industry- something that 5 different project teams have done in the past 6 months- 
let's make one research package that encompasses trends in fintech, consumer behavior, spending patterns, industry disruptors, etc. </p>

<p>Datapond's goal is to create a repository of secondary research to help accelerate the fact gathering process, so people can spend more time analyzing.
 </p>


<% if false %>
    <% if logged_in?%>
        <br>
        <button><%= link_to "See all data packages", data_packages_path %></button>
        <br>
        <button><%= link_to "Add a new data package", new_data_package_path %></button>
    <% end %>
<% end %>
