
<br><h1>Welcome to datapond, the pond for your data </h1> <br>

<h4> What is datapond? </h4>
<p> As a trends researcher, I've noticed that certain questions are asked repeatedly.
For example, we're pitching a possible new bank client. Instead of a consultant gathering trends and stats 
about the consumer banking industry or the client itself- something that 5 different project teams have done in the past 6 months- 
let's make one research package that encompasses trends in fintech, consumer behavior, spending patterns, disruptors in the industry, etc. </p>
<p>Datapond's goal is to create a repository of secondary research to help accelerate the fact gathering process. 
 </p>


<% if false %>
    <% if logged_in?%>
        <br>
        <button><%= link_to "See all data packages", data_packages_path %></button>
        <br>
        <button><%= link_to "Add a new data package", new_data_package_path %></button>
    <% end %>
<% end %>
