
<br><h1>Welcome to datapond, the pond for your data </h1> <br>
<h2> Login for testing: </h2><br>
<h3>Username: test <br>
Email: test <br>
Password: test <br> </h3><br>

<h4> What is datapond? </h4>
<p> As a trends researcher, I've noticed that certain questions are asked repeatedly.
We have another bank client. Let's make a research package about the consumer financial services.
The goal is to create a repository of secondary research to help accelerate the fact gathering process. 
 </p>

<% if logged_in?%>
    <h2> Add a data package </h2>
    <button><%= link_to "Add here", new_data_package_path %></button>

    <h2> See all data packages </h2>
    <button><%= link_to "Wall of data packages", data_packages_path %></button>

<% end %>

