<br>
<h3> Number of favorites per data package </h3><br>

<%= column_chart Favorite.group(:data_package_id).count, xtitle: "Data package ID", ytitle: "Count" %>

<br><ol>
<% @data_packages.each do |fav_pack| %>
    <li><%= fav_pack.name %> </li>
    <ul>Number of favorites: <%= fav_pack.favorites.count %> <br><br></ul>
<% end %>
</ol>
