
<h2> Add a new favorite here: </h2>
<%= link_to "Add a favorite", new_favorite_path %>

<h3> See all your favorites </h3>

<% @my_favorites.zip(@my_notes).each do |my_fav, my_note| %>
    <li> Name: <a href = "data_packages/<%= my_fav.id%>"> <%= my_fav.name%></a><br>
      Notes: <%= my_note%> <br> </li>
    <br>
<% end %>

