<h5>Favorite#index</h5>
<p>Find me in app/views/favorite/index.html.erb</p>

<h3> Add a new favorite here: </h3>
<%= link_to "Add a favorite", new_favorite_path %>

<h2> See all your favorites </h2>

<% @my_favorites.zip(@my_notes).each do |my_fav, my_note| %>
    <li> Name: <a href = "data_packages/<%= my_fav.id%>"> <%= my_fav.name%></a><br>
      Notes: <%= my_note%> <br> </li>
    <br>
<% end %>

