<h1>Document#show</h1>
<p>Find me in app/views/document/show.html.erb</p>


<h3> Here is your document </h3>
<h4> Name: <%= @document.name %> </h4>
<h4> Raw data: <%= @document.raw_data %> </h4>

<h3> See all documents: </h3>
<button type = "button"> <%= link_to "See all documents", documents_path(@index) %> </button>