<br>
<h2> All categories </h2><br>

<% @categories.each do |category| %>
    <li> Name:  <a href = "categories/<%= category.id%>"><%= category.name %></a> <br><br>
    </li>
<% end %>



<h4> <%= link_to "Add a new category here", new_category_path %></h4>