<br>
<h2><i> Categories </i></h2><br>

<h2> <%= link_to "Add a new category", new_category_path %></h2><br>

<h3>Types of research:</h3><br>

<% @categories.each do |category| %>
    <li> Name:  <a href = "categories/<%= category.id%>"><%= category.name %></a> <br><br>
    </li>
<% end %>


