
<br>
<h2> Create a new category </h2><br>
<h4>
<%= form_for @category do |f|%>
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name %>
    <br>
    <%= f.submit "Create category" %> 
<% end %>
</h4>

