<br>
<h1>Category: <%= @category.name %></h1><br>


<% @selected.each do |data_package| %>
    <li> 
    <%= link_to "See", data_package_path(data_package) %> <%= data_package.name %>
    </li>
<% end %>

<br><br>
<h3><%= link_to "See all categories here", categories_path %><br><br></h3>
